<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymlinks

    RewriteCond %{HTTPS} =on
    RewriteRule ^ - [env=PROTO:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ - [env=PROTO:http]

    RewriteRule ^favicon\.ico$ assets\/images\/favicon\.ico [L,NC,QSA]
    RewriteRule ^send$ pages\/e\-mail\/send.php [L,NC,QSA]
</IfModule>
